.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  padding: 1rem;
  width: 200px;
  border: solid 1px #ffffff;
  border-radius: 20px;
  cursor: pointer;
}
