@import "@src/styles/variables";

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient($secondary-clr, $primary-clr);
}

.form {
  width: min(100%, 25rem);
  min-height: 30rem;
}

.hero {
  flex-basis: 60%;
  & img {
    object-fit: cover;
    object-position: left;
    height: 100%;
  }
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: white;
  &_heading {
    font-size: 2rem;
    margin: 0;
    padding-top: 15px;
  }

  &_message {
    padding-inline: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
