.formContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: space-between;
}

.leftColumn,
.rightColumn {
  width: 48%;
}

.clientDropdown {
  padding: 0px 10px 40px 10px;
}

@media (max-width: 1120px) {
  .leftColumn,
  .rightColumn {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .clientDropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 15% 40px 15%;
  }
}
