:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

body {
  margin: 0;
  overflow-x: hidden;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
